* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background: #fff url(../img//fundo.png) repeat-x;
}

header {
    width: 750px;
    margin: 0 auto;
    background: url(../img/detalhe-topo.png) no-repeat right top;
    padding-bottom: 25px;
    margin-bottom: 60px;
}

.logo {
    margin-top: 25px;
}

.nav-bar a {
    
    text-decoration: none;
    color: white;
    padding: 1em 1.5em;
    background: #de003e;
    cursor: pointer;
    font-size: 0.9em;
    line-height: 2.1em;
}

.nav-bar a:hover {
    color: #b10333;;
}

.items {
    display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: center;
   margin-top: 40px;
   margin-right: 120px;

   
}
/*
main {
    width: 750px;
    height: 810px;
    margin: 0 auto;
}

#left-content, #main-content, #right-content {
    float: left;
    
}

#left-content {
    width: 180px;
    height: 525px;
    margin: 0 0 20px 0;
    background: #f5f5f5 url(./img/fundo-caixa.png);
    position: relative;
    bottom: 826px;
}

#main-content {
    width: 550px;
    margin: 0 0 20px 195px;
    background: #f5f5f5 url(./img/fundo-caixa.png);
}

.interview {
    margin: 5px 5px;
    padding: 5px 0 5px 0;
    background: #f5f5f5;
}

.interview li {
    padding: 5px;
    font-size: 0.9em;
    border-bottom: 1px solid #f3f3f3;
    line-height: 30px;
}

.interview a  {
    text-decoration: none;
    color: black;
}

.interview a:hover {
    color: #a1a1a1;
    background: #f9f9f9 url(./img/marcador.png) no-repeat left center;
    padding-left: 20px;
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
    margin: 5px;
}

.title {
    background-color: #b10333;
    color: white;
    font-size: 0.8em;
    padding: 3px;
    display: inline;
}

.main-window {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}

.main-window img {
    border: 3px solid #dfdfdf;
    width: 530px;
    height: 354px; 
}

.branco {
    border-top: 10px solid white;
}

#sec-content {
    width: 550px;
    margin: 10px 0;
    margin-bottom: 5px;
    background: #f5f5f5 url(./img/fundo-caixa.png);
   
}

.content-box {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    
}

.content-box a{
    text-decoration: none;
    
}

.news {
    height: 62px;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-top: 5px;
}

a>h3 {
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
    text-transform: uppercase;
    display: inline;
    position: relative;
    bottom: 40px;
}

a>p {
    font-size: 0.7em;
    color: #000;
    display: inline;
    position: relative;
    bottom: 40px;
    left: 85px;
    width: 20px;
}

.pic {
    width: 80px;
    height: 53px;
    display: inline;
}



.input {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}

#email{
    width: 80%;
    padding: 5px;
}

#submit {
    background-color: #de003e;
    color: white;
    width: 80px;
    padding: 5px;
    border: 2px solid #870529;
    cursor: pointer;
}

.read-more {
    color: #b10333;
    text-decoration: underline;
}
*/

main {
    width: 750px; /*180px entrevista | 270px centro; 270px direita;
                    15px de espacamento entre os 3 */
    background: #f5f5f5;
    margin: 0 auto;
}
#main-content {
    padding: 1px 0;
    margin-bottom: 20px;
    background: #f5f5f5 url(../img/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    background: #294c71;
    color: #fff;
    padding: 5px;
    margin: 5px;
}

.title {
    background-color: #b10333;
    color: white;
    font-size: 0.8em;
    padding: 3px;
    display: inline;
}

.main-window {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
}

.main-window img {
    border: 3px solid #dfdfdf;
    width: 730px;
    height: 486px; 
}

.branco {
    border-top: 10px solid white;
}

#sec-content {
    margin: 10px 0;
    margin-bottom: 5px;
    background: #f5f5f5 url(../img/fundo-caixa.png);
   
}

.content-box {
    margin: 5px;
    padding: 5px;
    background-color: #fff;
    
}

.content-box a{
    text-decoration: none;
    
}

.news {
    height: 62px;
    border-bottom: 1px solid #ccc;
    padding: 2px;
    margin-top: 5px;
}

.news:hover {
    background-color: rgb(236, 236, 236);
}


a>h3 {
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
    text-transform: uppercase;
    display: inline;
    position: relative;
    bottom: 40px;
}

a>p {
    font-size: 0.7em;
    color: #000;
    display: inline;
    position: relative;
    bottom: 40px;
    left: 85px;
    width: 20px;
}

.pic {
    width: 80px;
    height: 53px;
    display: inline;
}

.read-more {
    color: #b10333;
    text-decoration: underline;
}

footer {
    clear: both;
    background-color: #294c71;
    padding: 20px;
    color: white;
    bottom: 0;
    width: 100%;
    margin: 0 auto;
}

.copy {
    width: 750px;
    margin: 0 auto;

}